absl-py==1.4.0
accelerate==0.23.0
aiofiles==23.1.0
aiohttp==3.9.3
aiohttp-cors==0.7.0
aiosignal==1.3.1
amqp==5.1.1
annotated-types==0.6.0
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array-record==0.2.0
arrow==1.2.3
arxiv==1.4.7
asgiref==3.6.0
asitop==0.0.23
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
attrs==22.2.0
Authlib==1.3.0
auto-labeling-pipeline==0.1.21
Automat==22.10.0
autopep8==2.0.2
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.2
billiard==3.6.4.0
bleach==6.0.0
blessed==1.20.0
blinker==1.5
blis==0.7.9
blobfile==2.0.2
boostedblob==0.13.2
boto3==1.26.96
botocore==1.29.96
branca==0.7.0
build==0.10.0
CacheControl==0.12.14
cachetools==5.3.0
catalogue==2.0.8
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
-e git+https://github.com/kechan/chatgpt-retrieval-plugin.git@9a12c11d09de0cf4a74aaa74d3ec93d14523081e#egg=chatgpt_retrieval_plugin
cld2-cffi==0.1.4
cleo==2.0.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
coinbase-advanced-py==1.1.3
colorful==0.5.5
comm==0.1.2
confection==0.0.4
constantly==15.1.0
contourpy==1.0.7
coreapi==2.3.3
coreschema==0.0.4
crashtest==0.4.1
cryptography==42.0.5
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
Cython==0.29.35
dashing==0.1.0
dataclasses-json==0.5.7
datasets==2.18.0
dateparser==1.2.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.6
distro==1.9.0
dj-database-url==0.5.0
dj-rest-auth==2.2.8
Django==4.1.7
django-celery-results==2.2.0
django-cors-headers==3.14.0
django-drf-filepond==0.4.1
django-filter==21.1
django-health-check==3.17.0
django-polymorphic==3.1.0
django-rest-polymorphic==0.1.10
django-storages==1.13.2
djangorestframework==3.14.0
djangorestframework-xml==2.0.0
dm-tree==0.1.8
docker-pycreds==0.4.0
docx2txt==0.8
drf-yasg==1.21.5
dulwich==0.21.5
EasyProcess==1.1
einops==0.7.0
elastic-transport==8.4.0
elasticsearch==7.14.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoint2==1.1
entrypoints==0.4
environs==9.5.0
et-xmlfile==1.1.0
etils==1.2.0
evaluate==0.4.0
exceptiongroup==1.1.1
executing==1.2.0
fairscale==0.4.13
faiss-cpu==1.7.4
fastapi==0.95.2
fastjsonschema==2.16.3
feedparser==6.0.10
filelock==3.12.0
fire==0.5.0
Flask==2.2.3
flatbuffers==23.3.3
folium==0.15.1
fonttools==4.39.0
fqdn==1.5.1
frozendict==2.3.8
frozenlist==1.3.3
fsspec==2024.2.0
ftfy==6.1.1
furl==2.1.3
gast==0.4.0
gcld3==3.0.13
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.10
GitPython==3.1.32
google-api-core==2.11.0
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-cloud-bigquery==3.11.3
google-cloud-core==2.3.2
google-cloud-storage==2.8.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.59.0
gptcache==0.1.20
gpustat==1.1
groq==0.5.0
grpcio==1.63.0
grpcio-health-checking==1.63.0
grpcio-status==1.56.0
grpcio-tools==1.63.0
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
h5py==3.8.0
hiredis==2.2.2
hnswlib==0.7.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.22.2
hypercorn==0.14.3
hyperframe==6.0.1
hyperlink==21.0.0
ics==0.7.2
idna==3.4
ijson==3.2.3
importlib-metadata==6.0.0
importlib-resources==5.12.0
incremental==22.10.0
inflection==0.5.1
iniconfig==2.0.0
installer==0.7.0
InstructorEmbedding==1.0.0
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
itypes==1.2.0
jaraco.classes==3.2.3
jax==0.4.11
jax-metal==0.0.3
jaxlib @ file:///Users/kechan/Developer/jax/dist/jaxlib-0.4.10-cp39-cp39-macosx_11_0_arm64.whl#sha256=9111e9d7c25a69dd8385105cf526d4f2557719f9aa933a9804a00f42af8afa24
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.4.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
-e git+https://github.com/kechan/kefinance.git@e70ffce27781937090e9255f4caef69fda2a3870#egg=kefinance
keras==2.12.0
keras-core==0.1.7
keras-cv==0.6.1
keyring==23.13.1
kiwisolver==1.4.4
kombu==5.2.4
langchain==0.0.187
langcodes==3.3.0
langdetect==1.0.9
libclang==16.0.0
-e git+https://github.com/facebookresearch/llama.git@6c7fe276574e78057f917549435a2554000a876d#egg=llama
lml==0.1.0
lockfile==0.12.2
loguru==0.7.0
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
ml-dtypes==0.1.0
more-itertools==8.14.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.5
mss==9.0.1
multidict==6.0.4
multiprocess==0.70.15
multitasking==0.0.11
murmurhash==1.0.9
mypy-extensions==1.0.0
namex==0.0.7
Nasdaq-Data-Link==1.0.4
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.0
-e git+https://github.com/openai/automated-interpretability.git@12fc736aeb9c757a2f287c45df3a9c56981cb853#egg=neuron_explainer&subdirectory=neuron-explainer
nltk==3.8.1
notebook==6.5.3
notebook_shim==0.2.2
numexpr==2.8.4
numpy==1.24.3
nvidia-ml-py==12.535.77
oauthlib==3.2.2
open-clip-torch==2.20.0
openai==0.27.2
openapi-schema-pydantic==1.2.4
opencensus==0.11.2
opencensus-context==0.1.3
openpyxl==3.1.2
opt-einsum==3.3.0
orderedmultidict==1.0.1
orjson==3.8.12
outcome==1.2.0
packaging==23.0
pandas==1.5.3
pandas-datareader==0.10.0
pandas-stubs==1.5.3.230321
pandocfilters==1.5.0
parsel==1.8.1
parso==0.8.3
pathos==0.3.1
pathtools==0.1.2
pathy==0.10.1
peewee==3.16.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.3.0
pillow_heif==0.16.0
pkginfo==1.9.6
platformdirs==3.5.1
plotly==5.14.1
pluggy==1.0.0
poetry==1.5.1
poetry-core==1.6.1
poetry-plugin-export==1.4.0
pox==0.3.3
ppft==1.7.6.7
pptree==3.1
preshed==3.0.8
priority==2.0.0
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==3.0.38
Protego==0.2.1
proto-plus==1.22.3
protobuf==4.24.4
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py-spy==0.3.14
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.54
pybind11==2.10.4
pycodestyle==2.10.0
pycparser==2.21
pycryptodomex==3.17
pydantic==1.10.8
pydantic_core==2.16.3
PyDispatcher==2.0.7
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-xlsx==0.6.0
pyfarmhash==0.3.2
PyGetWindow==0.0.9
Pygments==2.14.0
PyJWT==2.8.0
PyMsgBox==1.0.9
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyobjc-framework-Quartz==9.2
pyOpenSSL==24.0.0
pyparsing==3.0.9
PyPDF2==3.0.1
pyperclip==1.8.2
pyproject_hooks==1.0.0
pyre-extensions==0.0.29
PyRect==0.2.0
pyrsistent==0.19.3
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
pytest==7.3.1
python-dateutil==2.8.2
python-docx==1.0.1
python-dotenv==1.0.0
python-json-logger==2.0.7
python-multipart==0.0.6
python-pptx==0.6.21
python-ulid==1.1.0
pytweening==1.0.7
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.0.1
qtconsole==5.4.1
QtPy==2.3.0
quart==0.18.4
quart-cors==0.6.0
queuelib==1.6.2
-e git+https://github.com/kechan/raa.git@2d29f5887057eaf769fa28a6262305e4c4e4758e#egg=raa
rapidfuzz==2.15.1
ray==2.5.1
-e git+https://github.com/kechan/realestate-condition-sentiment.git@3ad5d16307190ddf8b00162f37be5430aa4fa1b5#egg=realestate_condition_sentiment
-e git+https://github.com/kechan/realestate-content-transformer.git@f03e3b671ab667c9f40fd5900073adf9fb6a4620#egg=realestate_content_transformer
-e git+https://github.com/kechan/realestate-core.git@be1ea3460702174a181a2d19d432859a7a4d3a51#egg=realestate_core
-e git+https://github.com/kechan/realestate-data-scraper-detection.git@be809864dbbb5f0129740c16ca15c0d5961a598d#egg=realestate_data_scraper_detection
-e git+https://github.com/kechan/realestate-spam.git@56bd3906b0c08d1b12fd425423b619db0f3fa2ea#egg=realestate_spam
-e git+https://github.com/kechan/realestate-vision.git@6b306198e1ad9e94da40638ec1197ec4f55d1019#egg=realestate_vision
-e git+https://github.com/kechan/realestate-vss.git@a62acdbe149f89cf12c7266a2ba7adc27825458b#egg=realestate_vss
redis==4.6.0
redis-om==0.1.2
regex==2023.3.23
-e git+https://github.com/kechan/repo-enquire.git@cb60a12a23a2cd0ca8482ef9f804a1840a6079d6#egg=repo_enquire
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
rubicon-objc==0.4.6
s3transfer==0.6.0
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
Scrapy==2.9.0
seaborn==0.12.2
selenium==4.17.2
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
sentry-sdk==1.29.2
seqeval==1.2.2
service-identity==21.1.0
setproctitle==1.3.2
sgmllib3k==1.0.0
shellingham==1.5.0.post1
shortuuid==1.0.11
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==1.4.47
sqlparse==0.4.3
srsly==2.4.6
stack-data==0.6.2
starlette==0.27.0
supervisor==4.2.5
sympy==1.11.1
tabulate==0.9.0
TatSu==5.8.3
tenacity==8.2.2
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow-datasets==4.9.2
tensorflow-estimator==2.12.0
tensorflow-macos==2.12.0
tensorflow-metadata==1.13.1
tensorflow-metal==0.8.0
termcolor==2.2.0
terminado==0.17.1
texttable==1.6.7
thinc==8.1.9
threadpoolctl==3.1.0
tiktoken==0.4.0
timm==0.9.2
tinycss2==1.2.1
tldextract==3.4.4
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
torch==2.1.0.dev20230331
torchaudio==2.1.0.dev20230331
torchvision==0.16.0.dev20230331
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.32.1
# Editable install with no version control (travel-buddy==0.1)
-e /Users/kechan/Developer/TravelBuddy
trio==0.22.0
trio-websocket==0.10.2
trove-classifiers==2023.5.24
Twisted==22.10.0
typer==0.7.0
types-pyOpenSSL==23.1.0.1
types-pytz==2022.7.1.2
types-redis==4.5.4.1
typing-inspect==0.8.0
typing_extensions==4.9.0
tzlocal==5.2
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.15
uvicorn==0.22.0
uvloop==0.17.0
validators==0.28.1
vine==5.0.0
virtualenv==20.23.1
w3lib==2.1.1
waitress==2.1.2
wandb==0.15.8
wasabi==1.1.1
wcwidth==0.2.6
weaviate-client==3.26.2
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==12.0
Werkzeug==2.2.3
whitenoise==6.4.0
widgetsnbextension==4.0.5
wrapt==1.14.1
wsproto==1.2.0
xattr==0.10.1
xformers==0.0.20
xlrd==2.0.1
XlsxWriter==3.1.2
xxhash==3.2.0
xyzservices==2023.10.1
yarl==1.8.2
yfinance==0.2.33
zipp==3.15.0
zope.interface==6.0
