/* CriteriaSearchForm.module.css */
/* CriteriaSearchForm.module.css */
.formContainer {
  padding-top: 20px; /* Adjust the value to the desired padding */
}


.formControl {
  margin-top: 20px; /* Adds spacing between the search box and the form */
  margin-bottom: 20px; /* Adds spacing below the form */
}

.selectEmpty {
  margin-top: 10px;
  max-width: 250px; 
  background-color: white; /* Makes the dropdown visible */
  border: 2px solid #ccc; /* Adds a border to the dropdown */

  height: 40px; /* Adjust the height as needed */
  padding-top: 0;
  padding-bottom: 0;
}

.noIndicator .MuiSelect-icon {
  display: none;
}

.noNotch .MuiOutlinedInput-notchedOutline, 
.noNotch .MuiOutlinedInput-notchedOutline {
  display: none;
}

.noBorder .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important; /* Instead of setting border to none, make it transparent */
  visibility: hidden; /* Hide the fieldset */
}

.formControl fieldset {
  display: none !important; /* This will hide the fieldset entirely */
}

/* Show more/less button */

.showMoreButton.showMoreButton {
  background-color: rgba(255, 255, 255, 0.8); /* Light whitish background */
  /* background-color: #A81B22; */
  color: #A81B22;
  /* border: 0.5px solid #A81B22; Light border */
  /* padding: 10px 20px; */
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s, border-color 0.2s;
  /* font-weight: bold; */

  /* Font styles for consistency */
  font-family: 'Roboto', sans-serif; /* Ensuring we're using Roboto */
  font-size: 0.75rem; /* Adjusting the font size to be a bit smaller */
  font-weight: 500; /* Medium font weight, not too bold, not too light */
  text-transform: uppercase; /* Optional: if other buttons are uppercase */
  letter-spacing: 0.5px;
}

.showMoreButton:hover {
  background-color: #ffffff; /* Fully white on hover */
  border-color: #A81B22; /* Darker border on hover */
}

.showMoreButton.showMoreButton:focus {
  border-color: #aaa; /* Even darker for focus to improve accessibility */
  /* border-color: #A81B22; Even darker for focus to improve accessibility */
}
