.file-upload-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;

  position: relative;
}

/* Placeholder for Drag an image here or */
.drag-text {
  color: #4a4a4a; /* A darker shade of gray */
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-right: -10px;
  text-decoration: line-through;
}

/* the hyperlink that said 'Upload a file'" */
.upload-link {
  text-decoration: underline;
  color: #D2232A; /* Your theme's red accent color */
  cursor: pointer;
  font-family: Arial, sans-serif; /* Set the font to Arial */
  font-size: 16px; /* Set the font size to 16px */
  margin-left: 5px; /* Adjust the left margin if more space is needed */
}

.upload-link:hover,
.upload-link:focus {
  color: #A81B22; /* A darker shade of your theme color for hover effect */
  text-decoration: none;
}


.file-input {
  /* Make sure this is still hidden */
  display: none;
}

.thumbnail {
  max-width: 350px;
  max-height: 350px;
  object-fit: contain;
}