.images {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 0;
  margin-left: -50px;
}

.images img {
  margin-right: 10px;
  /* max-width: 150px;
  max-height: 150px; */
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

/* Modal popup */

.images {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 0;
  margin-left: -50px;
}

.images img {
  margin-right: 10px;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

/* Image Modal popup */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalWrapper {
  background-color: white;
  padding: 20px; /* Increase padding to create space for the close button */
  border-radius: 4px;
  position: relative; /* Needed for absolute positioning of the close button */
  width: auto; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  /* Other styling as needed */
}

.modalContent {
  /* Remove padding if previously set, as the padding is now on modalWrapper */
  position: relative;
}

.modalImage {
  display: block;
  max-width: 100%; /* This will make sure the image fits within the padding */
  height: auto;
  /* Ensure there's no additional margin or padding that could offset the image */
}

.close {
  position: absolute;
  top: -20px; /* Position the close button from the top edge of modalWrapper */
  right: -15px; /* Position the close button from the right edge of modalWrapper */
  color: #000;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10; /* Ensure it's above other content */
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
}

.no-images {
  font-size: 1.0rem;
  color: gray;
}

.listing-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  color: #333;
}

/* remark section */
.listing-remarks {
  /* Add spacing above the remarks to separate it from the images */
  margin-top: 1rem;
  margin-left: 90px;
  
  /* Ensure the width matches the image container or is full width */
  width: 100%;
  
  /* Style the font for better readability */
  font-size: 1.0rem;
  line-height: 1.4;
  color: #333; /* Or any color that suits your design */
  /* color: #D2232A; */

  /* If you want to have a padding around the text */
  padding: 0.5rem;
  
  /* If you want to add a background color to the remarks section */
  background-color: #f8f8f8; /* Light grey background, for example */

  /* Add border or box-shadow if you want to distinguish the section */
  /* border: 1px solid #eaeaea;  */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
  border-bottom: 5px solid #eeeeee;

  cursor: pointer;
}

/* Remark modal popup */
.modalWrapper {
  max-width: 80%; /* Set the maximum width to 80% of the parent element */
  margin: auto; /* Center the modal if it's less than the maximum width */
  background-color: #fff; /* Set the background color to white */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow around the modal */
  border-radius: 8px; /* Optional: Add some rounding to the corners of the modal */
}

.modalRemarks {
  color: #000; /* Set the font color to black */
  background-color: #fff; /* Set the background color to white */
  padding: 0.5rem; /* Add some padding around the text */
  font-size: 1.1rem; /* Set the font size */
  line-height: 1.4; /* Set the line height */
  max-width: 100%;
  margin: auto;
  overflow-wrap: break-word;
}